/* 
Name: Okpako Miracle
Student number: 8747517 
*/

/* Root element */
html {
    font: 20px/1.5 "Arial", sans-serif;
    background-color: #f0f0f0;
}

/* General styles */
body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    background: linear-gradient(to right, #f06, #4a90e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer p {
    font-size: 0.8em;
    text-align: center;
}

/* Section styles */
#biography-section,
#quotes-section {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

#biography-section img,
#quotes-section img {
    border: 2px solid #333;
    border-radius: 10px;
}

#quotes-section {
    float: left;
    width: 70%;
}

#quotes-section q {
    font-style: italic;
    color: #555;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #888;
    padding: 10px;
}

/* Aside styles */
.aside-section {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.aside-section ul {
    list-style: none;
    padding: 0;
}

.aside-section ul li {
    margin: 5px 0;
}

.aside-section ul li a {
    text-decoration: none;
    color: #00f;
}

.aside-section ul li a:hover {
    color: #f00;
}

form {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin: 5px 0;
    font-weight: bold;
}

.form-control {
    margin: 5px 0;
    padding: 10px;
}

/* Responsive CSS */
@media (max-width: 768px) {
    html {
        font-size: 16px;
    }

    body {
        padding: 10px;
    }

    #quotes-section {
        float: none;
        width: 100%;
    }

    .aside-section {
        width: 100%;
    }
}
